// Rəng dəyişənləri
$primary-color: #007bff; // Sizin `border-primary` rəngi
$red-color: #ff0000; // Sizin `border-red-500` rəngi
$danger-color: #ff4d4f; // Sizin `text-danger` rəngi
$yellow-color: #ffa500;
.input-wrapper {
  width: 100%;
  position: relative;

  .label {
    position: relative;
    display: block;
    width: 100%;
    cursor: text;

    .input {
      height: 3.5rem;
      width: 100%;
      border: 1px solid $yellow-color;
      outline: none;
      padding: 1.5rem 1rem 0.5rem; 
      font-size: 16px;
      transition: border-color 0.3s;

      &:focus {
        border-color: darken($yellow-color, 10%);
      }

      &.error {
        border-color: $red-color;
      }

      &.valid {
        border-color: $yellow-color;
      }
    }

    .placeholder {
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
      font-size: 16px;
      color: gray;
      transition: all 0.3s ease-in-out;
      pointer-events: none; // Placeholder mətni kliklənməsin

      &.active {
        top: 5px;
        left: 10px;
        font-size: 12px;
        background: white;
        padding: 0 5px;
        transform: translateY(0);
      }
    }
  }

  .error-message {
    font-size: 0.75rem;
    color: $danger-color;
    margin-top: 4px;
  }
}

